openapi: 3.0.1
info:
  title: LLMWhisperer Extraction Retrieve API
  description: 'LLMWhisperer (by Unstract / Zipstack) is a document-to-text extraction API that converts PDFs, scanned documents, and images into clean, layout-preserving text ready for large language models. The v2 API is asynchronous: submit a document to POST /whisper, poll GET /whisper-status, then fetch the result with GET /whisper-retrieve. GET /highlights returns per-line bounding-box coordinates and /whisper-manage-callback manages webhook callbacks. All requests authenticate with the unstract-key header.'
  termsOfService: https://unstract.com/terms-of-service/
  contact:
    name: Unstract Support
    url: https://unstract.com/llmwhisperer/
  version: '2.0'
servers:
- url: https://llmwhisperer-api.us-central.unstract.com/api/v2
  description: US Central region
- url: https://llmwhisperer-api.eu-west.unstract.com/api/v2
  description: EU West region
security:
- unstractKey: []
tags:
- name: Retrieve
paths:
  /whisper-retrieve:
    get:
      operationId: whisperRetrieve
      tags:
      - Retrieve
      summary: Retrieve the extracted text of a processed whisper job
      description: Returns the extracted text once the job is processed. For security and privacy, the extracted text can be retrieved only once.
      parameters:
      - name: whisper_hash
        in: query
        required: true
        description: The whisper hash returned when the whisper job was started.
        schema:
          type: string
      - name: text_only
        in: query
        description: When true, returns only the extracted text without metadata.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Extracted text and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhisperResult'
            text/plain:
              schema:
                type: string
        '400':
          description: Retrieval error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invalid whisper hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
    WhisperResult:
      type: object
      properties:
        result_text:
          type: string
          description: The extracted text from the document.
        confidence_metadata:
          type: array
          description: Per-line word confidence scores (words below 0.9 confidence).
          items:
            type: array
            items:
              type: object
        webhook_metadata:
          type: string
          description: Metadata sent to the webhook after the document is processed.
        metadata:
          type: object
          description: Reserved for future use.
  securitySchemes:
    unstractKey:
      type: apiKey
      in: header
      name: unstract-key
      description: LLMWhisperer API key passed in the unstract-key request header.
